@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  transform: translateZ(0);
}
.hover-bg:hover .bg-overl {
  background: linear-gradient(
    1turn,
    rgba(0, 0, 0, 0.12),
    rgba(0, 0, 0, 0.6) 55.46%
  );
}
.hover-bg img {
  transition: all 0.5s;
}
.hover-bg:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}
.ck.ck-editor__main .ck-content.ck-editor__editable {
  min-height: 400px;
}

/* ==== Mobile Menu ===== */

@media (max-width: 767px) {
  menu {
    position: fixed;
    left: -100%;
    padding: 34px 20px;
    top: 0;
    height: 100vh;
    max-width: 150px;
    width: 100%;
    background-image: url("/menu-bg--desktop.svg");
    background-size: cover;
    transition: all 0.5s;
    z-index: 3;
  }
  menu.active {
    left: 0;
    transition: all 0.5s;
  }
  menu.active ul > li {
    margin-bottom: 10px;
  }
}
